body{
  background: #308Aaa;
  overflow: hidden;
}

.wrap{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  perspective: 1000px;
}
.cube {
  top: 300px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  transform-style: preserve-3d;
  animation: spin 4s infinite linear;
}
@keyframes spin {
	from { transform: rotateY(0) rotateX(0); }
	to { transform: rotateY(-360deg) rotateX(360deg); }
}
[class*='face']{
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid grey;
  background: ivory;
  display: flex;
  .pip {
    @include pip;
    margin: 20px;
  }
  .column{
    display: flex;
    .pip{
      @include pip;
    }
  }
}
.first-face{
  align-items: center;
  justify-content: center;
}

.second-face {
  justify-content: space-between;
  .pip:last-child{
    align-self: flex-end;
  }
}

.third-face {
  justify-content: space-between;
  .pip:nth-child(2){
    align-self: center;
  }
  .pip:last-child{
    align-self: flex-end;
  }
}

.fourth-face{
  justify-content: space-between;
  .column{
    flex-direction: column;
    justify-content: space-between;
    .pip:first-child{
      align-self: flex-start;
    }
    .pip:last-child{
      align-self: flex-end;
    }
  }
}
.fifth-face{
  justify-content: space-between;
  .column{
    flex-direction: column;
    justify-content: space-between;
    .pip:first-child{
      align-self: flex-start;
    }
    .pip:last-child{
      align-self: flex-end;
    }
  }
  .column:nth-child(2){
    justify-content: center;
  }
}
.sixth-face{
  justify-content: space-between;
  .column{
    flex-direction: column;
    justify-content: space-between;
  }
}
.first-face{
  transform: rotateX(90deg) translateZ(100px);
}
.second-face{
  transform: translateZ(100px);
}
.third-face{
  transform: rotateY(90deg) translateZ(100px);
}
.fourth-face{
  transform: rotateY(180deg) translateZ(100px);
}
.fifth-face{
  transform: rotateY(-90deg) translateZ(100px);
}
.sixth-face{
  transform: rotateX(-90deg) translateZ(100px);
}
